{% load i18n %}{% autoescape off %}
{% blocktrans %}Ricevi questa mail perchè hai richiesto un reset della password del tuo account su {{ site_name }}.{% endblocktrans %}

{% trans "Vai quindi al seguente link e crea una nuova password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Nel caso tu l'abbia dimenticato, il tuo nome di login è la mail alla quale hai ricevuto questa mail:" %} {{ user.get_username }}

{% trans "Grazie!" %}

{% blocktrans %}Il team di {{ site_name }} {% endblocktrans %}

{% endautoescape %}

