{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}News{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="news" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}
<div class="text-page page-header">
	<h1><a href="/">Novità dettagliate</a></h1>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-10">
			<div class="new">
			    <div class="date">
			    	<p>Data di pubblicazione: <strong>{{ new.date }}</strong></p>
			    </div>
			    <h3>{{ new.title|safe }}
				{% if perms.news.change_post %}
			    <a class="btn btn-default" href="{% url 'post_edit' pk=new.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
				{% endif %}
				</h3>
			    <p>{{ new.new|safe }}</p>
				{% if new.association%}
			    <p><strong>Da</strong>: {{ new.association|safe }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock container %}