[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
babel = "*"
django = "*"
django-admin-interface = "*"
django-ajax-selects = "*"
django-appconf = "*"
django-classy-tags = "*"
django-colorfield = "*"
django-cookie-law = "*"
django-crispy-forms = "*"
django-dbbackup = "*"
django-dbbackup-ui = "*"
django-debug-permissions = "*"
django-extensions = "*"
django-filebrowser-no-grappelli = "*"
#django-filters = "*"
django-flat-responsive = "*"
django-flat-theme = "*"
django-geojson = "*"
django-imagekit = "*"
django-leaflet = "*"
django-phonenumber-field = "*"
django-related-admin = "*"
django-rest-framework = "*"
django-tables2 = "*"
djangorestframework = "*"
djangorestframework-datatables = "*"
djangorestframework-gis = "*"
easy-thumbnails = "*"
pilkit = "*"
pillow = "*"
pytest-runner = "*"
pytz = "*"
six = "*"
sorl-thumbnail = "*"
sqlparse = "*"
sentry-sdk = "*"
django-environ = "*"
django-decouple = "*"
django-autocomplete-light = "*"
psycopg2 = "*"
django-ordered-model = "*"
django-filter = "*"
django-controlcenter = "*"
django-debug-toolbar = "*"
django-tinymce4-lite = "*"
django-italian-utils = "*"
django-phonenumbers = "*"
django-admin-blame = "*"
django-queryable-properties = "*"
django-crum = "*"
django-authtools = "*"
django-braces = "*"
django-recaptcha = "*"
numpy = "*"
pandas = "*"
djangorestframework-csv = "*"

[dev-packages]

[requires]
python_version = "3.10"
