{% extends "admin/base_site.html" %}
{% load i18n static%}


{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
<li>{% trans 'Reset password completato' %}</a>
</ul>
{% endblock %}

{% block title %}{% trans 'Reset password completato' %}{% endblock %}
{% block content_title %}<a class="navbar-brand">{% trans 'Reset password completato' %}</a>{% endblock %}

{% block content %}

<p class="alert alert-success">{% trans "Password settata. Procedi pure con il login!" %}</p>

<p><a href="{{ login_url }}" class="btn btn-primary">{% trans 'Login' %}</a></p>

{% endblock %}
