{% extends "admin/base_site.html" %}
{% load i18n%}


{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
<li>{% trans 'Password reset' %}</li>
</ul>
{% endblock %}

{% block title %}{% trans 'Reset password completato con successo' %}{% endblock %}
{% block content_title %}<a class="navbar-brand">{% trans 'Reset password completato' %}</a>{% endblock %}

{% block content %}

<p class="alert alert-success">{% trans "Ti abbiamo inviato istruzioni via mail per procedere con il reset della password." %}</p>

{% endblock %}
