{% extends "accounts/auth_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Reset password completato{% endblock %}

{% block form_heading %}Email di reset password inviata{% endblock %}

{% block form %}
<div class="form-message text-center">
  <p>
    Nella tua mail dovrebbe esserti arrivata una richiesta di reset password da parte nostra: dacci un'occhiata!
    </br>
    </br>

    <a href="{% url 'home' %}">Torna alla homepage</a>
  </p>
</div>
{% endblock form %}

